@model MvcTemplate.Web.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    this.ViewBag.Title = "Register";
}
<h2>@(this.ViewBag.Title).</h2>
<h3>Associate your @(this.ViewBag.LoginProvider) account.</h3>

@using (this.Html.BeginForm("ExternalLoginConfirmation", "Account", new { this.ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @(this.Html.AntiForgeryToken())

    <h4>Association Form</h4>
    <hr/>
    @(this.Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" }))
    <p class="text-info">
        You've successfully authenticated with <strong>@(this.ViewBag.LoginProvider)</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group row">
        @(this.Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" }))
        <div class="col-md-10">
            @(this.Html.TextBoxFor(m => m.Email, new { @class = "form-control" }))
            @(this.Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" }))
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
