@model MvcTemplate.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    this.ViewBag.Title = "Forgot your password?";
}

<h2>@(this.ViewBag.Title).</h2>

@using (this.Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @(this.Html.AntiForgeryToken())
    <h4>Enter your email.</h4>
    <hr/>
    @(this.Html.ValidationSummary(string.Empty, new { @class = "text-danger" }))
    <div class="form-group row">
        @(this.Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" }))
        <div class="col-md-10">
            @(this.Html.TextBoxFor(m => m.Email, new { @class = "form-control" }))
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Email Link"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
