@using MvcTemplate.Web.ViewModels.Account
@model LoginViewModel
@{
    this.ViewBag.Title = "Log in";
}

<h2>@(this.ViewBag.Title).</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (this.Html.BeginForm("Login", "Account", new { this.ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @(this.Html.AntiForgeryToken())
                <h4>Use a local account to log in.</h4>
                <hr/>
                @(this.Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" }))
                <div class="form-group row">
                    @(this.Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" }))
                    <div class="col-md-10">
                        @(this.Html.TextBoxFor(m => m.Email, new { @class = "form-control" }))
                        @(this.Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" }))
                    </div>
                </div>
                <div class="form-group row">
                    @(this.Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" }))
                    <div class="col-md-10">
                        @(this.Html.PasswordFor(m => m.Password, new { @class = "form-control" }))
                        @(this.Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" }))
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <div class="checkbox">
                            @(this.Html.CheckBoxFor(m => m.RememberMe))
                            @(this.Html.LabelFor(m => m.RememberMe))
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary"/>
                    </div>
                </div>
                <p>
                    @(this.Html.ActionLink("Register as a new user", "Register"))
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @(this.Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = this.ViewBag.ReturnUrl }))
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}