@model MvcTemplate.Web.ViewModels.Account.SendCodeViewModel
@{
    this.ViewBag.Title = "Send";
}

<h2>@(this.ViewBag.Title).</h2>

@using (this.Html.BeginForm("SendCode", "Account", new { this.Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @(this.Html.AntiForgeryToken())
    @(this.Html.Hidden("rememberMe", this.Model.RememberMe))
    <h4>Send verification code</h4>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            @(this.Html.DropDownListFor(model => model.SelectedProvider, this.Model.Providers))
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
