@model MvcTemplate.Web.ViewModels.Account.VerifyCodeViewModel
@{
    this.ViewBag.Title = "Verify";
}

<h2>@(this.ViewBag.Title).</h2>

@using (this.Html.BeginForm("VerifyCode", "Account", new { this.Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @(this.Html.AntiForgeryToken())
    @(this.Html.Hidden("provider", this.Model.Provider))
    @(this.Html.Hidden("rememberMe", this.Model.RememberMe))
    <h4>Enter verification code</h4>
    <hr/>
    @(this.Html.ValidationSummary(string.Empty, new { @class = "text-danger" }))
    <div class="form-group row">
        @(this.Html.LabelFor(m => m.Code, new { @class = "col-md-2 col-form-label" }))
        <div class="col-md-10">
            @(this.Html.TextBoxFor(m => m.Code, new { @class = "form-control" }))
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <div class="checkbox">
                @(this.Html.CheckBoxFor(m => m.RememberBrowser))
                @(this.Html.LabelFor(m => m.RememberBrowser))
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
