@model MvcTemplate.Web.ViewModels.Manage.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    this.ViewBag.Title = "Manage your external logins";
}

<h2>@(this.ViewBag.Title).</h2>

<p class="text-success">@(this.ViewBag.StatusMessage)</p>
@{
    var loginProviders = this.Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any())
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        if (this.Model.CurrentLogins.Count > 0)
        {
            <h4>Registered Logins</h4>
            <table class="table">
                <tbody>
                @foreach (var account in this.Model.CurrentLogins)
                {
                    <tr>
                        <td>@account.LoginProvider</td>
                        <td>
                            @if (this.ViewBag.ShowRemoveButton)
                            {
                                using (this.Html.BeginForm("RemoveLogin", "Manage"))
                                {
                                    @(this.Html.AntiForgeryToken())
                                    <div>
                                        @(this.Html.Hidden("loginProvider", account.LoginProvider))
                                        @(this.Html.Hidden("providerKey", account.ProviderKey))
                                        <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account"/>
                                    </div>
                                }
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

        if (this.Model.OtherLogins.Count > 0)
        {
            using (this.Html.BeginForm("LinkLogin", "Manage"))
            {
                @(this.Html.AntiForgeryToken())
                <div id="socialLoginList">
                    <p>
                        @foreach (AuthenticationDescription p in this.Model.OtherLogins)
                        {
                            <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    </p>
                </div>
            }
        }
    }

}
