<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(this.ViewBag.Title) - MvcTemplate</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        @(this.Html.ActionLink("MvcTemplate", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" }))
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">@(this.Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, new { @class = "nav-link" }))</li>
            </ul>
            @(this.Html.Partial("_LoginPartial"))
        </div>
    </nav>

    <main role="main" class="container">
        @(this.RenderBody())
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - MvcTemplate</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @(this.RenderSection("scripts", required: false))
</body>
</html>
